.container {
  padding-top: 100px;
  padding-left: 70px;
  padding-right: 70px;
  background-color: #eeeeee;
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  font-family: "stretch-pro";
  font-size: 50px;
  color: #282c37;
  line-height: 3.6458vw;
}
.miniText {
  font-family: "Pretendard";
  font-size: 1.25vw;
  color: #a3a3a3;
  line-height: 1.25vw;
  font-weight: 300;
  margin-left: 11px;
}
.aboutBox {
  display: flex;
  gap: 9.7396vw;
  justify-content: center;
}
.imgBox {
  width: 32.6042vw;
  height: 26.4583vw;
  background-color: #d9d9d9;
  border-radius: 2.9688vw;
}
.aboutTextBox {
  width: 41.9792vw;
  height: 26.875vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textBox {
  width: 40.4583vw;
  height: 12.7083vw;
  font-family: "Pretendard";
  font-size: 16px;
  color: #282c37;
  font-weight: 300;

  margin-top: 1.7188vw;
}
.bottomLine {
  border-bottom: 2px solid #282c37;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row-reverse;

  font-family: "Pretendard";
  font-size: 1.0417vw;
  color: #6f6f6f;
  line-height: 1.0417vw;
  font-weight: 300;
}
.btnBox {
  background-color: #d9d9d9;
  width: 41.9792vw;
  height: 3.2292vw;
  border-radius: 1.7188vw;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.clickedBtn {
  width: 13.6458vw;
  height: 2.3438vw;
  color: #ffffff;
  text-align: center;
  line-height: 2.3438vw;
  z-index: 1;
  transition: 0.5s;
  font-family: "Pretendard";
  font-size: 16px;
  font-weight: 300;
}
.notClickedBtn {
  width: 13.6458vw;
  height: 2.3438vw;
  color: #6d6e6f;
  text-align: center;
  line-height: 2.3438vw;
  z-index: 1;
  font-family: "Pretendard";
  font-size: 16px;
  font-weight: 300;
}
.tabIndicator {
  position: absolute;
  height: 2.3438vw;
  width: 13.6458vw;
  border-radius: 2.0313vw;
  background-color: #282c37;
  transition: left 0.3s ease;
}
.linkText {
  font-family: "Pretendard";
  font-size: 16px;
  font-weight: 300;
  color: #282c37;
}
.linkContainer {
  padding: 20px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.link {
  width: 50%;
  margin-bottom: 18px;
  gap: 10px;
  display: flex;
  align-items: center;
}
.expListContainer {
  width: 41.9792vw;
}
.expList {
  display: flex;
  align-items: center;
  border-bottom: #d9d9d9 1px solid;
  height: 5.9375vw;
}
.expList:nth-last-child(1) {
  border: none;
}
.expTime {
  font-family: "Pretendard";
  font-size: 16px;
  font-weight: 300;
  color: #686868;
  padding-left: 24px;
  width: 179px;
}
.expName {
  font-family: "Pretendard";
  font-size: 20px;
  font-weight: 400;
  color: #282c37;
  width: 132px;
}
.expNameCategory {
  font-family: "Pretendard";
  font-size: 12px;
  font-weight: 300;
  color: #686868;
}
.expInfo {
  font-family: "Pretendard";
  font-size: 16px;
  font-weight: 300;
  color: #686868;
}
.skillH1 {
  font-family: "Pretendard";
  font-size: 24px;
  font-weight: 500;
  color: #282c37;
  margin-bottom: 16px;
}
.skillListContainer {
  display: flex;
  width: 41.9792vw;
  margin-top: 1.7188vw;
}
.skillList {
  width: 379px;
  border-right: #d9d9d9 1px solid;
  padding-left: 24px;
}
.skillList:nth-last-child(1) {
  border: none;
}
.skillname {
  font-family: "Pretendard";
  font-size: 16px;
  font-weight: 300;
  color: #282c37;
}
.skillbox {
  display: flex;
  margin-left: 7px;
  align-items: center;
  gap: 6px;
}
.skillFlex {
  display: flex;
  row-gap: 0.7813vw;
  flex-direction: column;
  flex-wrap: wrap;
  height: 18.5938vw;
}
