.container {
  padding-top: 100px;
  padding-left: 70px;
  padding-right: 70px;
  background-color: #eeeeee;
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  font-family: "stretch-pro";
  font-size: 50px;
  color: #282c37;
  line-height: 3.6458vw;
}
.miniText {
  font-family: "Pretendard";
  font-size: 1.25vw;
  color: #a3a3a3;
  line-height: 1.25vw;
  font-weight: 300;
  margin-left: 11px;
}
.bottomLine {
  border-bottom: 2px solid #282c37;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row-reverse;

  font-family: "Pretendard";
  font-size: 1.0417vw;
  color: #6f6f6f;
  line-height: 1.0417vw;
  font-weight: 300;
}
.contactBox {
  display: flex;
  justify-content: center;
  gap: 15.3125vw;
}
.inputBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.inputText {
  width: 15.8854vw;
  height: 40px;
  background-color: inherit;
  border: 1px solid #282c37;
  border-radius: 6px;
  font-size: 16px;
  font-family: "Pretendard";
  font-weight: 300;
  padding-left: 0.5208vw;
  padding-right: 0.5208vw;
  margin-bottom: 0.8333vw;
  color: #282c37;
}
.inputTextarea {
  width: 33.0208vw;
  height: 12.3958vw;
  background-color: inherit;
  border: 1px solid #282c37;
  border-radius: 6px;
  font-size: 16px;
  font-family: "Pretendard";
  font-weight: 300;
  padding-left: 0.5208vw;
  padding-right: 0.5208vw;
  padding-top: 0.4vw;
  resize: none;
  color: #282c37;
}
.submitBtn {
  background-color: #2b90d9;
  color: #eeeeee;
  width: 83px;
  height: 33px;
  border-radius: 6px;
  margin-top: 1vw;
  font-size: 14px;
  font-family: "Pretendard";
  font-weight: 300;
}
.labelText {
  margin-bottom: 10px;
  font-size: 14px;
  font-family: "Pretendard";
  font-weight: 300;
  color: #a3a3a3;
}
.contactLabel {
  font-size: 16px;
  font-family: "Pretendard";
  font-weight: 400;
  color: #282c37;
  margin-bottom: 2px;
}
.contactValue {
  font-size: 16px;
  font-family: "Pretendard";
  font-weight: 200;
  color: #282c37;
}
.contactInfoBox {
  display: flex;
  gap: 16px;
  flex-direction: column;
  width: 33.0208vw;
}
.colorLink {
  color: #282c37;
}
.getInTouchTitle {
  font-size: 36px;
  font-family: "Pretendard";
  font-weight: 500;
  color: #282c37;
  margin-bottom: 10px;
}
.getInTouchText {
  font-size: 16px;
  font-family: "Pretendard";
  font-weight: 400;
  color: #4d4d4d;
  max-width: 33.0208vw;
  margin-bottom: 28px;
}
.sendBox {
  display: flex;
  flex-direction: column;
}
.sendBoxFlex {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.infoFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
