* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}
/* a태그 설정 초기화 */
a,
a:link,
a:visited {
  text-decoration: none;
}
@font-face {
  font-family: "Stretch-Pro";
  src: url("/fonts/StretchPro.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/PretendardVariable.woff2") format("woff2");
}
body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}
