.header {
  z-index: 10;
  display: flex;
  align-items: center;
  position: fixed;
  top: 30px;
  width: 100%;
  padding-left: 70px;
  padding-right: 70px;
}
@keyframes invertAnimation {
  to {
    filter: invert(100%);
  }
}
@keyframes invertAnimation2 {
  from {
    filter: invert(100%);
  }
  to {
    filter: invert(0%);
  }
}
.hamburger {
  margin-left: auto;
  width: 40px;
  cursor: pointer;
}
.hamW {
  animation: invertAnimation 2s forwards;
}
.hamB {
  animation: invertAnimation2 2s forwards;
}

.xReversal {
  filter: invert(100%);
}

.text {
  display: flex;
  gap: 30px;
  font-family: "Pretendard";
  color: #a3a3a3;
  font-size: 1.0417vw;
  font-weight: 200;
  margin-left: 50px;
}
.sideMenu {
  position: fixed;
  right: 0;
  z-index: 20;
  height: 100%;
  width: 28.6458vw;
  background-color: #282c37;
  border-radius: 20px 0 0 20px;
  padding: 3.0208vw 0 4.4792vw 2.8646vw;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transform: translateX(100%);
}
@keyframes slideIn {
  0% {
    transform: translateX(100%); /* 시작 지점 설정 */
    opacity: 0; /* 시작 시 투명도 설정 */
  }
  100% {
    transform: translateX(0%); /* 종료 지점 설정 */
    opacity: 1; /* 종료 시 투명도 설정 */
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
.sideMenuReversal {
  position: fixed;
  right: 0;
  z-index: 20;
  height: 100%;
  width: 28.6458vw;
  background-color: #eeeeee;
  border-radius: 20px 0 0 20px;
  padding: 3.0208vw 0 4.4792vw 2.8646vw;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.active {
  animation: slideIn 0.5s both;
}
.inactive {
  animation: slideOut 0.5s forwards;
}
.index {
  margin-top: 5.3646vw;
  display: flex;
  flex-direction: column;
  gap: 2.6042vw;
  color: #eeeeee;
  font-family: "stretch-pro";
  font-size: 2.3958vw;
}
.active .index a:nth-child(1) {
  animation: slideIn 0.9s both;
}
.active .index a:nth-child(2) {
  animation: slideIn 0.9s both;
  animation-delay: 0.2s;
}
.active .index a:nth-child(3) {
  animation: slideIn 0.9s both;
  animation-delay: 0.4s;
}
.active .index a:nth-child(4) {
  animation: slideIn 0.9s both;
  animation-delay: 0.6s;
}
.currentIndex {
  color: #2b90d9;
}
.not {
  color: #eeeeee;
}
.sideMenuReversal .not {
  color: #282c37;
}
.copyright {
  margin-top: auto;
  font-family: "Pretendard";
  color: #eeeeee;
  font-size: 1.0417vw;
  font-weight: 200;
  width: 13.1771vw;
}
.sideMenuReversal .copyright {
  color: #282c37;
}
.sideMenuReversal img[src="assets/xbtn.png"] {
  filter: invert(100%);
}
.dimmed {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 0.4;
  z-index: 15;
}
