.container {
  padding-top: 14.7vw;
  padding-left: 80px;
  padding-right: 80px;
  background-color: #eeeeee;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
