.title {
  font-family: "Pretendard";
  font-size: 24px;
  font-weight: 500;
  color: #282c37;
  margin-bottom: 4px;
}
.descriptionText {
  font-family: "Pretendard";
  font-size: 16px;
  font-weight: 300;
  color: #6f6f6f;
}
.skill {
  font-family: "Pretendard";
  font-size: 16px;
  font-weight: 300;
  color: #2b90d9;
  margin-top: auto;
}
.img {
  width: 27.7604vw;
  height: 18.6458vw;
  object-fit: cover;
  border-radius: 20px;
}
.textBox {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  height: 118px;
}
.projectBox {
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  /* 모바일 */
  .projectBox {
    display: flex;
    gap: 10px;
    width: 100%;
  }
  .title {
    font-size: 18px;
  }
  .skill {
    font-size: 12px;
  }
  .textBox {
    margin-top: 0;
    height: auto;
  }
  .img {
    width: 100px;
    height: auto;
    border-radius: 6px;
  }
  .descriptionText {
    margin-bottom: 5px;
  }
}
