.container {
  padding-top: 100px;
  padding-left: 70px;
  padding-right: 70px;
  background-color: #eeeeee;
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  font-family: "stretch-pro";
  font-size: 50px;
  color: #282c37;
  line-height: 3.6458vw;
}
.miniText {
  font-family: "Pretendard";
  font-size: 1.25vw;
  color: #a3a3a3;
  line-height: 1.25vw;
  font-weight: 300;
  margin-left: 11px;
}
.bottomLine {
  border-bottom: 2px solid #282c37;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row-reverse;

  font-family: "Pretendard";
  font-size: 1.0417vw;
  color: #6f6f6f;
  line-height: 1.0417vw;
  font-weight: 300;
}
.projectBox {
  display: flex;
  gap: 1.6667vw;
  overflow: hidden;
}
.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.categryContainer {
  display: flex;
  gap: 0.5208vw;
}
.categoryBtn {
  font-family: "Pretendard";
  font-size: 16px;
  color: #282c37;
  line-height: 36px;
  font-weight: 300;
  width: 97px;
  height: 36px;
  border: #282c37 1px solid;
  border-radius: 30px;
  cursor: pointer;
}
.categoryClicked {
  color: #eeeeee;
  background-color: #282c37;
}
.projectWrap {
  padding: 0 2.3438vw;
}
.pageBtn {
  font-family: "Pretendard";
  font-size: 16px;
  color: #eeeeee;
  line-height: 36px;
  font-weight: 300;
  width: 131px;
  height: 36px;
  border-radius: 41px;
  background-color: #282c37;
  display: flex;
  justify-content: space-between;
}
.arrowBtn {
  width: 45px;
  text-align: center;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  /* 모바일 */
  .container {
    padding-top: 100px;
    padding-left: 26px;
    padding-right: 26px;
  }
  .title {
    font-size: 30px;
    line-height: normal;
    display: block;
  }
  .miniText {
    font-size: 20px;
    line-height: normal;
    margin-left: 0;
  }
  .bottomLine {
    font-size: 12px;
    line-height: 12px;
  }
  .categryContainer {
    gap: 5px;
  }
  .categoryBtn {
    width: 55px;
    font-size: 15px;
  }
  .pageBtn {
    width: 91px;
  }
  .arrowBtn {
    width: 30px;
  }
  .projectBox {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
  }
  .projectWrap {
    padding: 0;
    height: 100%;
    margin-top: 20px;
  }
}
