.container {
  padding-top: 6vw;
  padding-left: 70px;
  padding-right: 70px;
  background-color: #eeeeee;
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bottomLine {
  border-bottom: 2px solid #282c37;
  margin-bottom: 75px;
  display: flex;
  flex-direction: row-reverse;

  font-family: "Pretendard";
  font-size: 1.0417vw;
  color: #6f6f6f;
  line-height: 1.0417vw;
  font-weight: 300;
}

.projectBox {
  display: flex;
  gap: 6.875vw;
  margin-top: 2.3958vw;
  justify-content: center;
}
